# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metrooooooooooo
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

*.env

*.pyc
staticfiles/
**/__pycache__/
__pycache__/
.vscode/settings.json
Backend/todo_app/todo_app/__pycache__/settings.cpython-312.pyc
Backend/todo_app/todo_app/__pycache__/wsgi.cpython-312.pyc
